<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349976224590-o29la68siqrqrd9rtrovlfjdthaifmqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349976224590-o29la68siqrqrd9rtrovlfjdthaifmqc</string>
	<key>API_KEY</key>
	<string>AIzaSyAnrMX7J34hoovqirNZeT_7fbjAQWzOG3s</string>
	<key>GCM_SENDER_ID</key>
	<string>349976224590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vikramsingh.IntelliBed</string>
	<key>PROJECT_ID</key>
	<string>intelli--bed</string>
	<key>STORAGE_BUCKET</key>
	<string>intelli--bed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349976224590:ios:6de5d69f7632f25014b41f</string>
	<key>DATABASE_URL</key>
	<string>https://intelli--bed-default-rtdb.firebaseio.com</string>
</dict>
</plist>